html, body {
    margin:0;
    padding:0;
    height:100%;
    font-family:Arial, sans-serif;
    font-size:100%;
    font-weight:normal;
    background-color: #000;
    color:#eee;
}
#map {
    padding:0;
    width: 100%;
    min-height: 85%;
}
#message {
    background-color:#000;
    color:#fff;
    min-height: 15%;
    padding:0.4em 1em;
}

#marker {
    color: #000;
    font-size:75%;

}

div.box {
    border: 1x solid #aaa;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    margin: 15px;
    padding: 5px;
    padding-left: 40px;
    background-color: #222;


}

label {
    font-weight: bold;
    color: #66AADD;
    margin: 0;
    padding-right: 5px;
    display: block;
    width: 30%;
    text-align: right;
    float: left;
}

a {
    font-weight: bold;
    color: #66AADD;
}

h1 {
    margin:0;
    padding:0;
    color: #66AADD;
    font-size: 200%;

}

h2 {
    color: #66DD66;
}

th {
    color: #66DD66;
}

img {
    border: 0;
}

a.mapinfo {
    background:url("../images/map.jpg") no-repeat scroll left center transparent;
    cursor:pointer;
    padding:0 0 33px 33px;
    position:relative;
    z-index:24;
}
a.mapinfo:hover {
    color:#EE9C00;
    text-decoration:none;
    z-index:25;
}
a.mapinfo span {
    display:none;
}
a.mapinfo:hover span {
    border:1px solid #395E7D;
    color:#000000;
    display:block;
    position:absolute;
    right:10em;
    text-decoration:none;
    top:-10em;
}

div.location
{
    margin-left: 50px;
    margin-top: -10px;
}